@charset "utf-8";

body{
	background-color:black;	
}

.head{
	background-color:#C51212;	
	color:white;	
}
.gameWindow{
	background-color:#999;
	display:inline-block;
}
.actionSelect{
	width:250px;	
	height: 25px;
	float:left;
	clear:both;
}
.mobSelect{
	width: 250px;	
	height: 25px;
	float:left;
}
.submitButton{
	width:75px;
	height: 25px;	
}
.playerPicture{
	width: 200px;
	height: 175px;
	display:inline-block;
	background-color:blue;
	position:relative;
	float:left;
}
.mobPicture{
	width: 200px;
	height: 175px;
	background-color:red;
	float:right;
	position:relative;
}
.playerAttackButton{
	float:left;
	clear:both;
	width: 100px;
	height: 50px;
	margin-top:50px;
}
.playerCastButton{
	float:left;
	width:100px;
	height:50px;
	margin-top:50px;
}	
.playerBattle{
	
}
#itemBar{
	width: 200px;
	height:25px;
	clear:both;	
}