@charset "utf-8";

body{
	background-color:black;	
}

.head{
	background-color:#C51212;	
	color:white;	
}
.gameWindow{
	background-color:#999;
	float:both;
}
.actionSelect{
	width:250px;	
	height: 25px;
	float:left;
	clear:both;
}
.mobSelect{
	width: 250px;	
	height: 25px;
	float:left;
}
.submitButton{
	width:75px;
	height: 25px;	
}
.playerPicture{
	width: 200px;
	height: 175px;
	background-color:blue;
	float:left;
	clear:both;
}
.mobPicture{
	width: 200px;
	height: 175px;
	background-color:red;
	float:right;
}
.playerArtackButton{
	position: fixed;
	bottom: 250px;
}