@charset "utf-8";

body{
	background-color:black;	
}

.head{
	background-color:#C51212;	
	color:white;	
}
.gameWindow{
	background-color:#999;
	display:inline-block;
}
.chatWindow{
	width:100%;
	height: 400px;
	background-color:#FFF;
	border:4px solid red;
	border-radius:15;	
}
#battleWindow{
	visibility: hidden;
}
#actionSelect{
	width:250px;	
	height: 25px;
	float:left;
	clear:both;
}
#mobSelect{
	width: 250px;	
	height: 25px;
	float:left;
}
.submitButton{
	width:75px;
	height: 25px;	
}
.playerPicture{
	width: 200px;
	height: 175px;
	display:inline-block;
	background-color:blue;
	position:relative;
	float:left;
}
.mobPicture{
	width: 200px;
	height: 175px;
	background-color:purple;
	float:right;
	position:relative;
}
.playerAttackButton{
	float:left;
	clear:both;
	width: 100px;
	height: 50px;
}
.playerCastButton{
	float:left;
	width:100px;
	height:50px;
}	
.playerBattle{

}
#itemBar{
	float:left;
	text-align:right;
	width: 200px;
	height:25px;
	clear:both;	
}
#hpContainer{
	float:left;
	clear:left;
	width:200px;
	height:20px;
	border:1px solid black;	
}
#playerHP{
	float:left;
	clear:left;
	width:100%;/*change this width */
	margin-top:1px;
    border:1px solid black;
    background-color:#F30;
    height:17px;
}
#hpContainer2{
	float:right;
	clear:right;
	width:200px;
	height:20px;
	border:1px solid black;	
}
#mobHP{
	float:right;
	clear:right;
	width:100%;/*change this width */
	margin-top:1px;
    border:1px solid black;
    background-color:#F30;
    height:17px;	
}